.btn-episodes {
  background-color: #d80e49;
  width: 80px;
  color: white;
  font-size: 15px;
  box-shadow: inset 0 0 0 #69b47a;
  transition: ease-out 0.3s;
  outline: none;
}

.btn-episodes:hover {
  box-shadow: inset 080px 0 0 #69b47a;
}

/*btn-outline-light*/
